/* This file is for your main application css. */

/* @import "./phoenix.css"; */

/* Specific Style */
.container#top_bar {
    background-color: #FAB57F;
    font-style: bold;
}

.container#post_area {
    background-color: #f1f4ed
}