/* This file is for your main application css. */

/* @import "./phoenix.css"; */

/* Specific Style */
.container#top_bar {
    background-color: #FAB57F;
    font-style: bold;
}

.container#post_area {
    background-color: #f1f4ed
}

.post_title {
    color: black;
    text-decoration: none;

}

.post_website {
    color: darkgray;
    font-size: 12px
}

.post_metrics {
    font-size: 12px;
    padding-bottom: 7px;
}