body {
    padding: 0;
    margin: 0;
}

table:first-child {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: #29435C;
}

a:hover {
    color: #29435C;
}

body {
    color: #152A38;
    font-size: 100%;
}

form input,
form textarea {
    border: none;
    border-bottom: 1px solid #F8C957;
}

form input[type=submit] {
    background: #F8C957;
    cursor: pointer;
    font-family: sans-serif;
    padding: .5rem 1rem;
}

form table td {
    padding: .3rem .6rem;
}

html {
    font-size: 16px;
}

table table {
    padding: 10px;
}

table tbody tr td:last-child>.pagetop {
    color: #34495E;
}

table tbody tr:first-child .pagetop {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #F8C957;
    display: block;
}

table tbody tr:first-child .pagetop a {
    color: #34495E;
    display: inline-block;
    margin: 0 -5px;
    padding: 1rem 0.6rem;
    transition: all 100ms ease-in-out;
}

table tbody tr:first-child .pagetop a:hover {
    background: #34495E;
    color: #F8C957;
}

table tbody tr:nth-child(2) td {
    background: #ECF0F1;
}

body>center>table>tbody>tr:first-child>td {
    background: #29435C;
}

table tbody tr:first-child table {
    background: #F8C957;
    color: #34495E;
    display: block;
    padding: 0 1rem !important;
}

table tbody tr:first-child table td {
    display: block;
    padding: 0;
}

table tbody tr:first-child table td:first-child {
    padding-left: .5rem !important;
    padding-right: 1rem !important;
}

table tbody table tr:first-child table td:first-child a {
    display: inline-block;
    margin: 0 1rem 0 -.5rem;
    padding: .9rem .6rem;
}

table tr:last-child center {
    font-size: .8rem;
}

table tr:last-child table td {
    background: none;
}

table.comment-tree tbody tr:first-child table {
    background: none;
}

table:first-child {
    background: #ECF0F1;
}

td.ind {
    max-width: 2rem;
}

tr td.subtext {
    color: #34495E;
    padding-top: .3rem;
}

tr td.subtext a,
tr td.subtext a:visited {
    color: #34495E;
}

tr.athing .rank {
    color: #6487AA;
    padding-right: .5rem;
}

tr.athing .sitebit {
    color: #6487AA;
    opacity: .5;
}

tr.athing .votearrow {
    border-bottom: 5px solid #6487AA;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    margin: .5rem .5rem 0 0;
    width: 0;
}

tr.athing td.title {
    font-size: 1rem;
}

tr.spacer {
    height: 1.2rem !important;
}