<div class="container" id="top_bar">
    <div class="row">
        <div class="column column-10">LiveHacker</div>
        <div class="column column-30"><span phx-click="new">new |</span><span phx-click="past"> past |</span><span
                phx-click="comment"> comment |</span><span phx-click="submit"> submit |</span></div>
        <div class="column column-30"></div>
        <div class="column"><%= @username %></div>
    </div>
</div>

<div class="container" id="post_area">
<h4>Sample Post area</h4>
</div>